
/* bootstrap link */

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

/* body{

            background-image: url(assets/developer.png);

            background-repeat: no-repeat;

            background-size: cover;

        } */

        .main-division {

            width: 370px;
          
            border: 1px solid gray;
          
            border-radius: 12px;
          
            margin: 20px auto;
          
          }
          
          #item-photo img {
          
            width: 350px;
          
            height: 250px;
          
            border-radius: 20px;
          
            padding: 8px;
          
            /* position: relative; */
          
          }
          
          #best-seller {
          
            color: rgb(2, 81, 81);
          
            font-weight: bolder;
          
            background-color: rgb(216, 239, 242);
          
            padding: 3px 5px 3px 5px;
          
            border-radius: 8px;
          
            border: 1px solid rgb(42, 137, 4);
          
            position: absolute;
          
            top: 40px;
          
            left: 600px;
          
          }
          
          #item-desc {
          
            padding: 8px;
          
          }
          
          #item-desc h2 {
          
            margin-top: 0px;
          
            margin-bottom: 0px;
          
            text-align: center;

            text-decoration: underline;

            font-size: larger;
          
          }
          
          #item-desc p {
          
            margin-top: 5px;
          
            margin-bottom: 5px;
          
          }
        #card-button{
          display: flex;
          justify-content: space-between;
          padding-bottom: 15px;
          padding-right: 8px;
          padding-left: 8px;

        }